* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol, menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/*HEADER********************************************************************/

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 84px;
    background-color: white;
}

.container-head ul {
    display: flex;
    align-items: center;

    font-family: sans-serif;
    font-size: 18px;
}

.container-head li {
    margin: 0 20px;
}

.logo-head {
    height: 27px;
}

.button-inizia {
    padding: 11px 18px;
    color: white;
    background-color: #0061ff;
}

/*MAIN**********************************************************************/







/*DEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUG*/

.debug main {
    background-color: #b4d0e7;
}
