* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol, menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

body {
    overflow-x: hidden; /* Hide scrollbars */
}

/*HEADER********************************************************************/

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 84px;
    background-color: white;
}

.container-head ul {
    display: flex;
    align-items: center; /*margin 0 auto*/

    font-family: sans-serif;
    font-size: 17px;
}

.container-head li {
    margin: 0 20px;
}

.logo-head {
    height: 27px;
}

.button {
    padding: 11px 18px;
    color: white;
    background-color: #0061ff;

    font-family: sans-serif;
    font-size: 17px;

    width: fit-content;

    display: block;
}

/*MAIN1*********************************************************************/

.main1 {
    /*height: 844px;*/
    background-color: #b4d0e7;
}

.container-main1 {
    width: 1236px; /*flex basis*/
    padding-top: 100px;
    margin: 0 auto;

    position: relative;
}

.container-main1 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;
}

.container-main1 .card {
    width: 380px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
}

.container-main1 h2 {
    font-family: sans-serif;
    font-size: 74px;
    font-weight: 1000;
}

.container-main1 p {
    font-family: sans-serif;
    font-size: 17px;
}

.container-main1 img {
    width: calc(1235px - 380px - 10px);

    position: relative;
    z-index: 3;
}

.container-main1 i {
    z-index: 3;

    font-size: 44px;
    position: relative;

    bottom: 125px;
}

.white-bg-overlay {
    background-color: white;
    position: absolute;

    bottom: 0;
    left: calc(0px - (100vw - 1236px)/2);

    height: 100px;
    width: 100vw;

    z-index: 2;
}

/*MAIN2*********************************************************************/

.container-main2 {
    width: 1050px;
    margin: 100px auto 150px;

    font-family: sans-serif;
    font-size: 17px;
}

.container-main2 .row {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.container-main2 p {
    padding: 10px 0;
}

.container-main2 h2 {
    font-size: 42px;
}

.radio-m2 {
    width: 100%;
}

.radio-m2 input {
    font-size: 14px;

    margin: 25px 5px 25px 0;
}

.radio-m2 span {
    margin-right: 50px;
}

.container-main2 .card {
    flex-basis: 30%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.container-main2 .card-bottom {
    margin: 33px;
}

.container-main2 .user-m2 {
    text-align: center;
    line-height: 40px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.container-main2 h3 {
    font-size: 22px;
    margin: 16px 0;
}

.container-main2 .price-m2 {
    font-weight: bold;
    margin: 10px 0;
}

.card-bottom span {
    color: #9fa6ae;
    margin: 10px 0;

    display: block;
}

.container-main2 ul {
    margin: 40px 0;
}

.container-main2 li {
    margin: 13px 0;
    
    padding-left: 1em;
    text-indent: -1em;
}

.container-main2 li:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    
    padding-right: 5px;
}

.list2m2 li::before {
    content: "\f00c";
    color: #005eff;
}

.container-main2 .li-user::before {
    content: "\f007";
}

.container-main2 .li-users::before {
    content: "\f0c0";
}

.container-main2 .li-folder::before {
    content: "\f07b";
}

.container-main2 .li-share::before {
    content: "\f1e0";
}

.container-main2 .button {
    margin: 10px auto;

    display: block;
}

.container-main2 .line-m2 {
    width: 50px;
    
    border-top: 2px grey solid;
    margin: 20px 0 50px;
}

.container-main2 h5 {
    font-size: 17px;
    padding: 10px 0;
}

.container-main2 .card2 {
    margin-top: 50px;
    flex-basis: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.container-main2 .card-bottom2 {
    margin: 33px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-main2 .card2-left {
    flex-basis: 40%;
}

.container-main2 .card2-right {
    flex-basis: 40%;
}

.card2-right .button {
    margin:16px 0 0 auto;
}

.card2 .card2-bottom {
    width: 60%;
    margin-top: 40px;
}

/*MAIN3*********************************************************************/

.container-main3 {
    width: 1050px;
    margin: 150px auto;

    font-family: sans-serif;
    font-size: 19px;
}

.container-main3 .row {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.container-main3 img {
    width: 620px;
}

.container-main3 .col {
    flex-basis: 40%;
    padding: 60px 50px;
}

.container-main3 h3 {
    font-size: 22px;
    margin: 16px 0;
}

.button-t {
    border: 2px solid black;
    padding: 15px;

    margin-top: 36px;
    display: block;
    width: max-content;
}

/*MAIN4*********************************************************************/

.container-main4 {
    width: 1050px;
    margin: 175px auto;

    font-family: sans-serif;
    font-size: 19px;
}

.container-main4 .row {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.container-main4 h2 {
    font-size: 42px;
}

.container-main4 .card4 {
    flex-basis: 30%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 80px;
}

.container-main4 img {
    align-self: center;
    width: 100%;
}

.container-main4 h3 {
    font-size: 22px;
    margin: 30px 0;
}

/*MAIN5*********************************************************************/

.container-main5 {
    width: 1050px;
    margin: 225px auto 150px;

    font-family: sans-serif;
    font-size: 19px;
}

.container-main5 .col {
    width: 60%;
    margin-bottom: 70px;
}

.container-main5 h2 {
    font-size: 42px;
}

.container-main5 a {
    color: blue;
    text-decoration: underline;
}

/*MAIN5*********************************************************************/

.container-main6 {
    font-family: sans-serif;
    font-size: 19px;
}

.container-main6 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-main6 .card {
    flex-basis: 33%;
}

.container-main6 .card2 {
    flex-basis: 50%;
    display: flex;

    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
}

.container-main6 .card3-m6 {
    flex-basis: 34%;
    background-color: #f5f5f5;

    padding: 50px;
}

.card3-m6 img {
    width: 280px;
}

.container-main6 .line-m6 {
    margin: 45px 0;
    border-bottom: 2px grey solid;
    width: 110px;
}

.container-main6 p {
    margin-bottom: 55px;
}

.card2 img {
    width: 150px;
    filter: invert(1);
}

.designit {
    background-color: #a2d39b;
}

.arizona {
    background-color: #61082b;
}

.florida {
    background-color: #0093ce;
}

.topps {
    background-color: #ff1c1c;
}

.bicycle {
    background-color: #d5001f;
}

.hearst {
    background-color: #b4d0e7;
}

.planet {
    background-color: #0d2481;
}

.clear {
    background-color: #ffd830;
}

/*DEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUG*/

.debug .container-main1 {
    border: 3px dotted red;
}

.debug .container-main2 {
    border: 3px dotted red;
}

.debug .container-main3 {
    border: 3px dotted red;
}

.debug .container-main4 {
    border: 3px dotted red;
}

.debug .container-main5 {
    border: 3px dotted red;
}

.debug .container-main6 {
    border: 3px dotted red;
}

.debug .col {
    border: 2px solid black;
}

.debug .card2 {
    border: 2px solid black;
}

/*NB MOLTE CLASSI SONO RIDONDANTI (VEDI H2) RICORDARSI DI DARE UNA SISTEMATA ALLA FINE*/
