* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol, menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/*********************************************************************/

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 84px;
    background-color: white;
}

.container-head ul {
    display: flex;
    align-items: center;

    font-family: sans-serif;
}

.logo-head {
    height: 27px;
}

.debug main {
    background-color: aquamarine;
}