* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol, menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/*HEADER********************************************************************/

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 84px;
    background-color: white;
}

.container-head ul {
    display: flex;
    align-items: center; /*margin 0 auto*/

    font-family: sans-serif;
    font-size: 17px;
}

.container-head li {
    margin: 0 20px;
}

.logo-head {
    height: 27px;
}

.button {
    padding: 11px 18px;
    color: white;
    background-color: #0061ff;
}

/*MAIN1*********************************************************************/

.main1 {
    /*height: 844px;*/
    background-color: #b4d0e7;
}

.container-main1 {
    width: 1236px; /*flex basis*/
    padding-top: 100px;
    margin: 0 auto;

    position: relative;
}

.container-main1 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;
}

.container-main1 .card {
    width: 380px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
}

.container-main1 h2 {
    font-family: sans-serif;
    font-size: 74px;
    font-weight: 1000;
}

.container-main1 p {
    font-family: sans-serif;
    font-size: 17px;
}

.button2 {
    padding: 11px 18px;
    color: white;
    background-color: #0061ff;
    
    font-family: sans-serif;
    font-size: 17px;

    width: fit-content;
}

.container-main1 img {
    width: calc(1235px - 380px - 10px);

    position: relative;
    z-index: 3;
}

.container-main1 i {
    z-index: 3;

    font-size: 44px;
    position: relative;

    bottom: 100px;
}

.white-bg-overlay {
    background-color: white;
    position: absolute;

    bottom: 0;
    left: calc(0px - (100vw - 1236px)/2);

    height: 100px;
    width: 100vw;

    z-index: 2;
}

/*MAIN2*********************************************************************/

.container-main2 {
    width: 1050px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.container-main2 li {
    padding-left: 1em;
    text-indent: -1em;
}

.container-main2 li:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    
    padding-right: 5px;
}

.list2m2 li::before {
    content: "\f00c";
    color: #005eff;
}

.li-user1::before {
    content: "\f007";
}

.li-folder::before {
    content: "\f07b";
}

.li-share::before {
    content: "\f1e0";
}

/*DEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUG*/

.debug .container-main1 {
    border: 3px dotted red;
}

.debug .container-main2 {
    border: 3px dotted red;
}

.debug .col {
    border: 2px solid black;
}