* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol, menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/*HEADER********************************************************************/

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 84px;
    background-color: white;
}

.container-head ul {
    display: flex;
    align-items: center;

    font-family: sans-serif;
    font-size: 18px;
}

.container-head li {
    margin: 0 20px;
}

.logo-head {
    height: 27px;
}

.button {
    padding: 11px 18px;
    color: white;
    background-color: #0061ff;
}

/*MAIN1*********************************************************************/

.main1 {
    height: 844px;
    background-color: #b4d0e7;

    display: flex;
    justify-content: center;
}

.container-main1 {
    width: 1235px;
    padding-top: 111px;
}

.container-main1 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-main1 h2 {
    font-size: 74px;
    font-family: sans-serif;
    font-weight: 1000;


}


/*DEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUGDEBUG*/

.debug .container-main1 {
    border: 3px dotted red;
}

.debug .col {
    border: 2px solid black;
}